<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zachary@zacharyc.com</string>
	<key>contactName</key>
	<string>Zachary Cohen</string>
	<key>description</key>
	<string>Based on &lt;a href="http://www.monokai.nl/" title="Monokai"&gt;Wimer Hazenberg&lt;/a&gt;. This theme has special purposes for Flywheel Logs</string>
	<key>name</key>
	<string>Zonokai</string>
	<key>uuid</key>
	<string>fc0f89ba-ed3b-4d06-8d6c-1c6a1f2d3b37</string>
</dict>
</plist>
